
# Example: Bimatrix Game

This notebook provides example code to make it easier to write a player function. 

* Write player functions, `player1.py`, `player2.py`, ... in the folder `./players/`. 
* Run this notebook: it will automatically read them all.

In [1]:
from game_tournament.game import DiscreteGame, Tournament
import numpy as np 
import pandas as pd 

# autoreload is useful if you are writing changes to your player functions in real time
%load_ext autoreload
%autoreload 2

 Convenient function for printing payoffs in bimatrix games

In [2]:
def print_payoffs(U1, U2, A1, A2): 
    na1,na2 = U1.shape 
    X = [[(U1[r,c],U2[r,c]) for c in range(na2)] for r in range(na1)]
    tab = pd.DataFrame(X, columns=A2, index=A1)
    return tab

# Reading in player modules

In [3]:
# path to where player functions should be located for this game 
player_path = './players/'

# A Bimatrix Game

`U1` and `U2` are the payoff matrices for the bimatrix game that we want to work with in this notebook. 

**NOTE:** The real tournament will be played using a few matrices, all different from this one. Make sure your player performs well in different types of games.

In [4]:
U1 = np.array([[5, 3, 1], [3, 2, 3], [2, 1, 0]])
U2 = np.array([[0, 3, 1], [4, 2, 1], [2, 1, 5]])

A1 = ["U", "M", "D"]
A2 = ["L", "C", "R"]

print_payoffs(U1, U2, A1, A2)

        L       C       R
U  (5, 0)  (3, 3)  (1, 1)
M  (3, 4)  (2, 2)  (3, 1)
D  (2, 2)  (1, 1)  (0, 5)

# Running a tournament 

Read all player functions in `player_path` and pit them against each other in an all-play-all tournament.

In [5]:
np.random.seed(1337) # so that randomness is kept constant
T = 100 # we can repeat each matchup many times to smooth out any randomness from player functions
game_data = {'U1':U1, 'U2':U2}
t = Tournament(player_path, DiscreteGame, game_data=game_data, T=T, tournament_name='A 3x3 Game')
t.run() # run the tournament

3it [00:00, 66.62it/s]

Tournament winner was: 1st order (against 2 opponents)

           A 3x3 Game
Player
1st order       3.020
2nd order       2.445
Randawg         1.590

In [6]:
# take a look at the individual matchups of player functions 
match_results = t.get_matchup_results()
match_results

Opponent   1st order  Randawg  2nd order
Player
1st order        NaN     3.04       3.00
Randawg         1.29      NaN       1.89
2nd order       3.00     1.89        NaN